# src/scripts/new-module.ps1
param(
    [Parameter(Mandatory=$true)]
    [string]$ModuleName
)

dotnet run --project ./tools/ModularAspire.ModuleGenerator/ModularAspire.ModuleGenerator.csproj -- --name $ModuleName